DB_URL=jdbc:postgresql://aws-0-sa-east-1.pooler.supabase.com:6543/postgres
DB_USER=postgres.xxxxxxxxxxxxx
DB_PASSWORD=sua_senha_segura
SUPABASE_URL=https://xxxxxxxxxxxxx.supabase.co
SUPABASE_KEY=eyJh......
